*{
  padding: opx;
  margin: opx;
  box-sizing: border-box;
}

body {  
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Lucida Console", Courier, monospace;  
  background-color: hsl(0, 0%, 98%);
  overflow: overlay;
  animation: FadeIn 200ms;
  transition: 200ms;
}
#root {
  background-color: rgb(229, 228, 226);
  width: 95%;
  display: grid;
  grid-gap: 35px;
  justify-content: center;
  border-radius: 5px;
  margin: 30px 5% 10px 2%;
  box-shadow: 0px 0px 20px rgba(23, 24, 24, 0.7);
  padding-top: 30px;
  padding-left: 20px;
}
#navbar{
  color: rgb(25, 26, 26);
  background-color: rgb(229, 228, 226);
  justify-content: space-around;
  border-radius: 1cm;
}
#title{
  padding-left: 3cm;
  padding-top: 10px;
  padding-bottom: 10px;
}
#mode{
  position:initial ;
  margin-left: 70%;
  padding-bottom: 10px;
}
#second-form{
  display: grid;
  color: black;
  background-color: rgb(229, 228, 226);
  border-radius: 1cm;

}
.form-search{
  margin-left: 3cm;
  margin-top: 0.7cm;
  font-size: 15px;
}
.dropdown-list{
  font-size: 15px;
  margin-left: 67%;
  margin-right: 13%;

}
.image{
  height: 150px;
  width: 220px;
}

.countries:hover > .image{
  opacity: 0.3;
}
.btn{
  width: 3.5cm;
  height: 1.2cm;
  margin-left: -73%;
  padding: 15px;
}
.form2{
  grid-gap: 3cm;
  width: auto;
  height: fit-content;
  position: inherit;
  display: contents;
  justify-content: space-between;
}
.big-image{
  padding-top: 70%;
  width: 410px;
  height: 310px;
}
.countries-info{
  padding-left: 45%;
  margin-left: 3cm;
  display: inline-grid;
}

@media only screen and (min-width: 600px) {
  #root {   
      grid-template-columns: auto auto ;    
  }
}
@media only screen and (min-width: 900px) {
  #root {    
      grid-template-columns: auto auto auto ;  
  }  
}
@media only screen and (min-width: 1200px) {
  #root {    
      grid-template-columns: auto auto auto auto auto;
  }
}
@media only screen and (min-width: 1450px) {
  #root {    
      grid-template-columns: auto auto auto auto auto auto auto ;    
  }
}